.dap-an {
    border: 1px solid transparent;

    &:hover {
        background-color: #FFFEA9;
        border: 1px solid #E6DF9A;
    }
}

.cau-hoi {
    max-height: 650px;
    overflow-y: scroll;

    & > .ch-container {
        background-color: #C2FFF9;
        border: 1px solid #009DAE;
    }

    & .tiet {
        background-color: #fcf7e8;
        border: 1px solid #dcc896;
        color: #555;
    }
}